html {
    font-family: Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.page-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.main-wrapper {
    flex: 1;
    padding-bottom: 120px; /* важно: оставя място под съдържанието за футера */
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    line-height: 1.3;
}

#box {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#main-content {
    flex-grow: 1;
}

#root {
    min-height: 100%;
}

h1,
h2,
h4,
h5,
h6 {
    padding: 0.2em 1rem;
}

p,
div {
    margin: 0 1em 0.5em 1em;
}

ol,
ul {
    margin: 0em 1rem;
}

li {
    list-style-position: inside;
}

button {
    font-weight: bold;
    padding: 0.2em;
    margin: 0.2em;
    border: 1px solid white;
    border-radius: 0.3em;
    background-color: transparent;
}

a {
    margin: 0.2em;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

blockquote {
    font-style: italic;
    margin: 0.5em;
}

blockquote>cite {
    display: block;
    text-align: right;
    margin: 0.5em 2em;
    font-weight: bold;
}

.form-error {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}